@using cms_project.Models.ViewModel
@model LoginViewModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />

</head>
<div class="ui raised very padded center aligned text container segment">
    <h1 class="ui header">Log in</h1>
    <br>
    <form asp-action="Login">
    <div class="field">
        <div class="ui left icon input">
            <i class="mail outline icon"></i>
            <input type="text" name="email" placeholder="Email Address" autofocus="true">
        </div>
    </div>
    <br>
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
        </div>
    </div>
    <br>

  

    <div class="actions">
        <button  class=" ui large teal button" type="submit">Log in</button>
    </div>
    </form>
    <br>
</div>