@model List<Role>

@{
    var adminUsers = ViewBag.AdminUsers as List<cms_project.Models.Entites.UserAccount>;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Manage Roles</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Claims</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td> 
                            <td>
                                @if (role.Claims != null && role.Claims.Any())
                                {
                                    <ul>
                                        @foreach (var claimRole in role.Claims)
                                        {
                                            <li>@claimRole.Name</li>     
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>No claims assigned</span>
                                }
                            </td>

                            <td>
                                <a href="@Url.Action("EditRole", "MangementAdmin", new { id = role.Id })" class="btn btn-warning">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a href="@Url.Action("Create", "MangementAdmin")" class="btn btn-success">Add New Role</a>
</div>
