    @model List<cms_project.Models.Entites.ComplaintType>

    <div class="container">
        <h2>Manage Complaint Type</h2>

        <div class="mb-3">
            <a href="@Url.Action("AddComplaintType", "MangementAdmin")" class="btn btn-primary">Add New Complaint Type</a>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Complaint Types</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Category Name</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var type in Model)
                            {
                                <tr>
                                    <td>@type.Id</td>
                                    <td>@type.Name</td>
                                  
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
